@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Condensed:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500&display=swap');

* {
  font-size: 16px;
  font-weight: normal;
  font-family: 'Montserrat', 'Noto Serif TC', sans-serif;
  line-height: 1.5;
  color: #222;
  outline: none;
  box-sizing: border-box;
}

:root {
  --dark-grey: #666;
  --light-grey: #aaa;
  --dark-background: #444;
  --font-white: #ddd;
  --pure-white: #fff;
  --footer-background: #20201a;
  --font-dark: #222;
  --title-weight: 700;
  --body-background: #ccc
}

body {
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
  background-color:var(--font-white);
}

section {
  /* margin: 36px auto; */
  width: 100%;
  /* max-width: 1400px; */
  /* margin: 36px 0; */
  padding: 36px 0;
  background-color: var(--pure-white);
}

section .title {
  position: relative;
  /* padding-left: 5%; */
  padding: 0 12px;
  margin-bottom: 24px;
}

section .title::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: calc(100% - 24px);
  border-bottom: 2px solid #aaa;
}

section .title h1 {
  font-size: 24px;
  font-weight: 700;
}

#techstack .cards,
#portfolio .cards {
  display: flex;
  overflow-x: scroll;
  padding: 12px 0;
}

.cards::-webkit-scrollbar {
  display: none;
}

#techstack .card,
#portfolio .card {
  margin: 0 12px;
  /* border-radius: 12px 12px 0 0; */
  overflow: hidden;
  border: 1px solid var(--light-grey);
}

#techstack .card {
  min-width: 280px;
  width: 280px;
  height: 440px;
}

#portfolio .card {
  min-width: 320px;
  width: 280px;
  /* height: 440px; */
  height: 540px;
}


/* dropdown */
.dropdown {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 24px;
}

.dropdown img {
  width: 100%;
  height: 100%;
}

.dropdown input {
  display: none;
}

label:hover {
  /* border: 1px solid #000; */
}

.dropdown label > img {
  transform: rotate(180deg);
  transition: transform 0.15s linear;
}

.dropdown input:checked + label > img {
  transform: rotate(0deg);
  transition: transform 0.15s linear;
}

.card-body {
  display: none;
  height: 0;
  /* transform-origin: top; */
  /* transform: scaleY(0); */
  /* transition: transform 0.3s linear; */
  /* opacity: 0; */
}

.isDropped {
  display: block;
  height: auto;
  /* opacity: 1; */
  /* transform: scaleY(1); */
  /* transition: transform 0.3s linear; */
  /* transition: 0.5s linear; */
}


